@use "./var" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins";
  touch-action: manipulation;
}

/* --- Required CSS (customizable) --- */

.error {
  color: red;
  font-size: 1rem;
}

body {
  background: #0076b5;
}

.validationForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: clamp(12.5rem, 5.682rem + 34.09vw, 31.25rem);
  background-color: #fff;
  margin-inline: auto;
  border-radius: 25px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 100px 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__area {
    width: 100%;
    padding-bottom: 50px;
    position: relative;
  }

  &__field {
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0px;
      height: 2px;
      background: #0076b5;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.4s ease;
    }

    &:hover:before {
      width: 100%;
    }
  }

  #view {
    position: absolute;
    right: 0;
    top: 8px;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #e0e0e0;

    &::placeholder {
      opacity: 0;
      transition: opacity 0.5s ease;
      color: #bdbdbd;
    }

    &:focus::placeholder,
    &:not(:placeholder-shown)::placeholder {
      opacity: 1;
    }

    &:focus + .validationForm__label,
    &:not(:placeholder-shown) + .validationForm__label {
      top: 0;
      font-size: 1rem;
    }
  }

  &__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    pointer-events: none;
    background: transparent;
  }

  #touroku {
    background: #0076b5;
    color: white;
    padding: 12px 0;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 25px;
    transition: all 0.3s;
    border: none;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: #41a2d6;
        transition: all 0.3s;
      }
    }
  }
}
